@use 'config' as *;
@use 'sass:math';

$menu-bg-color: rgba(47, 70, 92, 0.95);
$line-color: #0e2431;

nav .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 65%);

    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: $menu-bg-color;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateX(-150%);
        transition: transform 0.5s ease-in-out;


        li {
            margin: 1.9rem 0;
            font-size: 2.5rem;
            font-weight: 600;
            list-style-type: none;
            a {
                text-decoration: none;
                color: $gold-color;
                text-transform: uppercase;
                letter-spacing: 1.2rem;
                font-family: $header-font-family;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: $nav-height - 2px;

        .logo {
            display: flex;
            align-items: center;
            height: 100%;
            img {
                max-height: $nav-height;
                width: auto;
            }
        }

        .checkbox {
            position: absolute;
            display: block;
            height: math.div($nav-height, 2);
            width: math.div($nav-height, 2);
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 99999;
            opacity: 0;
        }

        .hamburger-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;


            .hamburger-lines {
                width: math.div($nav-height, 2);
                height: math.div($nav-height, 2);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 9999;

    
                .line {
                    height: 4px;
                    width: 100%;
                    border-radius: 10px;
                    background: $line-color;
    
                    &1 {
                        
                    }
                    &2 {
    
                    }
                    &3 {
    
                    }
                }
            }
        }

    }

}

input[type="checkbox"]:checked {
    ~ .menu-items {
        transform: translateX(0);
    }
}

// Todo: L1 i L3 se cruzan y L2 desaparece