$bp-tablet: 768px;
$bp-desktop: 995px;
$bp-desktop-lg: 1200px;

@mixin tablet {
    @media screen and (min-width: $bp-tablet) {
        @content; // placeholder
    }
}

@mixin desktop {
    @media screen and (min-width: $bp-desktop) {
        @content;
    }
}

@mixin desktop-lg {
    @media screen and (min-width: $bp-desktop-lg) {
        @content;
    }
}

