@use 'config' as *;
@forward 'reset';

// No es una buena practica importar estilos con import
// @import 'reset';
// @import 'config';

// Podemos sobreescribir variables
// $gold-color: black;

body {
    h1 {
        color: $gold-color;
        font-family: $body-font-family;
        @include text-primary-bold;
        &:hover {
            color: red;
        }
    }

    div#characters-container {
        border: 1px solid green;

        div.house {
            border: 1px solid black;
        }
    }
}


