@use 'config' as *;
@use 'responsive' as *;
@forward 'reset';
@forward 'common';

// No es una buena practica importar estilos con import
// @import 'reset';
// @import 'config';

// Podemos sobreescribir variables
// $gold-color: black;
$bg-image: url('../img/header.jpg?as=webp&quality=75&width=2200');

body {

    section.hero {
        background-image: $bg-image;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 200px 0;
        filter: brightness(0.7);

        h1.page-title {
            color: $gold-color;
            font-family: $header-font-family;
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 0.25rem;
            font-size: 2.25rem;
        }

    }

    section#teams {
        padding: 2rem 0;

        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
            font-family: $header-font-family;
            letter-spacing: 0.5rem;
        }

        div.house-cards {

            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;

            div.house-card {
                display: flex;
                margin: 2rem;
                flex-direction: column;
                width: 100%;
                text-align: center;
                padding: 1rem;
                border-radius: 0.4rem;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                @include tablet {
                    width: 40%
                }
            }
        }
    }

    div#characters-container {
        border: 1px solid green;

        div.house {
            border: 1px solid black;
        }
    }
}


