<nav>
    <div class="navbar">
        <div class="container nav-container">
        <div class="logo">
            <a href="/">
                <img src="img/logo.png?as=webp" alt="Quidditch Games XV">
            </a>
        </div>
        <div class="hamburger-wrapper">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
            </div>
            <div class="menu-items">
            <ul>
                <li><a href="./">Inicio</a></li>
                <li><a href="./teams.html">Equipos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</nav>